<section class="cards">
    <div class="background"></div>
    <ul>
        <!-- <li>
      <article>
        <img src="{{ pokemon.sprites.front_default }}" alt="" />
        <p>{{ pokemon.id }}</p>
        <h3>{{ pokemon.name }}</h3>
        <ul class="atributos">
          <li *ngFor="let atributo of pokemon.types">
            <span> {{ atributo.type.name }}</span>
          </li>
        </ul>
      </article>
    </li> -->
        <li *ngFor="let pokemon of listaPokemons">
            <article>
                <img src="{{ pokemon.sprites.front_default }}" alt="" />
                <p>Nº 00{{ pokemon.id }}</p>
                <h3>{{ pokemon.name }}</h3>
                <ul class="atributos">
                    <li *ngFor="let atributo of pokemon.types">
                        <span> {{ atributo.type.name }}</span>
                    </li>
                </ul>
            </article>
        </li>
    </ul>
    <div class="background"></div>
</section>
