.cards {
    display: flex;
    justify-content: space-around;
    background-color: white;
    width: 100%;
}

.cards > ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    width: 100%;

    gap: 2.4rem 4.8rem;
    padding: 3.2rem 4rem;
}

.cards > ul > li {
    padding: 1rem;
    list-style: none;
}

article {
    padding: 1.6rem;

    border: 0.4rem solid gray;
    border-radius: 0.8rem;
    background-color: rgb(234, 236, 236);
    color: rgb(54, 31, 12);
}
article:hover {
    transition: 200ms;
    cursor: pointer;
    opacity: 0.9;
    background-color: rgb(218, 219, 219);
}
article > img {
    width: 100%;
    background-color: white;
}

article > img + p {
    opacity: 0.6;
    font-size: 2.4rem;
}
article > h3 {
    font-size: 4rem;
    margin-bottom: 0.4rem;
}

article > .atributos {
    display: flex;
    gap: 0 1.2rem;
    font-size: 3rem;
}

.atributos > li {
    list-style: none;
}
span {
    display: inline-block;
    padding: 0.2rem 0.8rem 0.8rem;
    border-radius: 0.6rem;
    background-color: rgb(105, 105, 105);
    color: aliceblue;
}

.background {
    min-height: 100dvh;
    width: 25%;
    background: rgb(164, 159, 130);
    background: linear-gradient(
        153deg,
        rgba(164, 159, 130, 1) 0%,
        rgba(195, 192, 180, 1) 35%,
        rgba(255, 251, 241, 1) 100%
    );
}
